
@font-face {
    font-family: Hums;
    src: url(font/Hums.ttf);
}

@font-face {
    font-family: Kalinga;
    src: url(font/kalinga.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
}

.headers{
    background-color: rgb(35, 148, 201);
    padding: 20px;
}

.headers h1{
    color: white;
    font-family: Hums;
}

.headers h5{
    color: rgb(0, 187, 255);
    font-family: Kalinga;
    font-size: 12px;
    font-style: italic;
}

.nav-bar{
    box-shadow: 0px 3px 2px #b1b1b1;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar ul li{
    float: left;
}

.nav-bar ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: Hums;
}

.nav-bar ul li a:hover {
    background-color: #b1b1b1;
    color: white;
}